<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, inital-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <title>Vue-task</title>
    <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="./bootstrap3.3.7.css">
    <link rel="stylesheet" href="./page.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- Vue 标题 -->
            <h2 class="center-block text-center">Hello {{message}}</h2>
            <!--  登录框 -->
            <section v-if="!currentUser" id="sign" class="center-block">
                <!-- 登录注册选择 -->
                <div class="radio-inline">
                    <label><input type="radio" name="type" id="" value="login" v-model="activeType">登录</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="type" id="" value="signUp" v-model="activeType">注册</label>
                </div>
                <!-- /登录注册选择end -->

                <!-- 登入表单 -->
                <form @submit.prevent="login" class="form-inline" v-if="activeType=='login'">
                    <div class="form-group">
                        <label for="loginUsername">用户名</label>
                        <input v-model="formData.username" type="type" class="form-control" id="loginUsername" placeholder="输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">密码</label>
                        <input v-model="formData.password" type="password" class="form-control" id="loginPassword" placeholder="输入密码">
                    </div>
                    <button type="submit" class="btn btn-success">登入</button>
                </form>
                <!-- /登入表单end -->

                <!-- 注册表单 -->
                <form @submit.prevent="signUp" class="form-inline" v-if="activeType=='signUp'">
                    <div class="form-group">
                        <label for="signUnUsername">用户名</label>
                        <input v-model="formData.username" type="type" class="form-control" id="signUnUsername" placeholder="输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="signUnpassword">密码</label>
                        <input v-model="formData.password" type="password" class="form-control" id="signUnpassword" placeholder="输入密码">
                    </div>
                    <button type="submit" class="btn btn-warning">注册</button>
                </form>
                <!-- /注册表单end -->
            </section>
            <!-- #todo 待办事件列表 -->
            <!-- 登录后可见 -->
            <section v-if="currentUser" id="todo">
                <div class="center-block text-center">
                    <div class="newTask center-block">
                        <input type="text" class="form-control" placeholder="输入待办事项" v-model='newTodo' @keypress.enter='addTodo'>
                        <ol class="todos">
                            <li v-for='(todo,index) in todoList' class="text-left">
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" v-model='todo.done'> 
                                    {{todo.title}} 
                                    <span v-if="todo.done">(已完成)</span>
                                    <span v-else>(未完成)</span>
                                    <span class="creatTime">创建时间 {{todo.createdAt | date}}</span>
                                    <button class="btn btn-default btn-xs" @click='removeTodo(todo)'>X</button>
                                </label>
                                </div>
                            </li>
                        </ol>
                        <p class="text-right"><button @click="logout" class="btn btn-danger">登出</button></p>

                    </div>
                </div>
            </section>

        </div>
    </div>
    <script src="./bundle.js"></script>
</body>

</html>